@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&family=Hi+Melody&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
}

video {
  width: 40vw;
  height: 30vw;
  margin: 2rem;
  background: #2c3e50;
}

.videos {
  display: flex;
  align-items: center;
  justify-content: center;
}

body {
  overflow-x: hidden;
}
/* Custom css */
.swiper-container,
.swiper-container-2 {
  height: 100vh;
  overflow-y: hidden;
}

.swiper-container-free-mode > .swiper-wrapper {
  transition-timing-function: linear;
}
.swiper-container-free-mode-2 > .swiper-wrapper {
  transition-timing-function: linear;
}
.swiper-slide {
  margin-top: 10px;
  overflow: hidden;
  background-position: center center;
  background-size: cover;
  width: 16.875rem;
  height: 20.043rem;
}
.swiper-slide img {
  width: 16.875rem;
  height: 20.043rem;
  object-fit: cover;
  object-position: center;
}
.box-shadow {
  box-shadow: 0px 3px 15px 0px rgba(147, 147, 147, 0.2);
}
